.date-div {
	display: inline-block;
}

.venue-div {
	display: inline-block;
	margin-left: 25px;
}

.verticalLine {
	display: inline-block;
	margin-left: 25px;
  	border-left: solid grey;
  	border-width: 1px;
  	height: 4em;
}

.see-flights {
	display: inline-block;
	float: right;
	margin-top: 30px;
}

/*.flights-div {
	display: inline-block;
	margin-left: 150px;

}*/

.well {
	background-color:  #ccf2ff;
	border border-style: dotted;
}

.well div[id^="tourDiv-"] {
	background-color: pink;
/*	font-weight: bold;
	border-style: solid;*/

}

